.liveNewTitle {
  text-align: center;
  font-size: 30px;
}
.liveNewBox {
  margin: 30px auto 0;
  width: 80%;
  &Name {
    font-size: 25px;
  }
  &Form {
    margin-top: 30px;
  &Field {
    width: 100%;
    height: 30px;
  }
  }
}