.liveNewTitle {
  text-align: center;
  font-size: 30px;
}
.liveNewBox {
  margin: 30px auto 0;
  width: 80%;
  &Name {
    font-size: 25px;
  }
  &Form {
    margin-top: 20px;
  &Field {
    width: 100%;
    height: 40px;
  }
  }
}
.submitBox {
  margin: 30px auto 0;
  width: 80%;
  text-align: center;
  &Btn {
    font-size: 20px;
    background-color: rgb(204, 204, 204);
    padding: 20px 80px;
    box-shadow: 4px 4px;
  }
}

