.liveNewTitle
  ログイン
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .liveNewBox
    .liveNewBoxName
      メールアドレス
    .liveNewBoxForm
      = f.email_field :email, autofocus: true, autocomplete: "email", class:"liveNewBoxFormField"
  .liveNewBox
    .liveNewBoxName
      パスワード入力
    .liveNewBoxForm
      = f.password_field :password, autocomplete: "current-password",class:"liveNewBoxFormField"
  -# - if devise_mapping.rememberable?
  -#   .field
  -#     = f.check_box :remember_me
  -#     = f.label :remember_me
  .submitBox
    = f.submit "ログイン", class:"submitBoxBtn"

