// ここからがヘッダー
header {
  background-color: white;
  .headerTop{
    height: 17vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .fa-bars {
      font-size: 40px;
      line-height: 17vh;
    }  
  }
}
//ここまでがヘッダー
.drawr {
  box-sizing: border-box;
  background-color: rgb(60, 255, 245);
  height: 100vh;
  width: 30vw;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  &Top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .fa-window-close {
      font-size: 40px;
    }
    .drawrTopImage {
      height: 150px;
      width: 150px;
      border-radius: 150px;
      object-fit: cover;
      box-shadow: $shadow;
    }
  }
  &Center {
    margin-top: 30px;
    font-size: 25px;
    line-height: 80px;
    overflow: scroll;
    &List {
      opacity: 0.5;
    }
  }
}
// ここまでがドロワー
.main{
  background-color: rgb(190, 255, 255);
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  &Content {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
  }
}
//ここまでがメイン
