.messages {
  height: calc(100vh - 17vh);
  width: 100%;
  &Content {
    background-color: red;
    height: 73vh;
    &Box {
      &Right {
        text-align: right;
      }
      &Left {
        text-align: left;
      }
    }
  }
  &Form {
    box-sizing: border-box;
    background-color: green;
    height: 10vh;
    display: flex;
    &Field {
      width: 70%;
      margin-left: 20px;
      line-height: 10vh;

      &Area {
        width: 100%;
        padding: 20px 0; 
      }
    }
    &Submit {
      height: 70%;
      &Btn{
        display: block;
        padding: 20px 0;
      }
    }
  }
}