@mixin messageList{
  background-color: white;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 0 20px;
}

@mixin messageUserIcon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: contain;
}

.messages {
  height: calc(100vh - 17vh);
  width: 100%;
  &Content {
    height: 73vh;
    overflow: scroll;
    background-image: url('room-back-image.jpg');
    &Box {
      box-sizing: border-box;
      padding: 10px 20px;
      &Right {
        display: flex;
        justify-content: flex-end;
        &Text {
          @include messageList;
        }
        &Icon {
          @include messageUserIcon;
          margin-left: 10px;
        }
      }
      &Left {
        display: flex;
        justify-content: flex-start;
        &Text {
          @include messageList;
        }
        &Icon {
          @include messageUserIcon;
          margin-right: 10px;
        }
      }
    }
  }
  &Form {
    box-sizing: border-box;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &Field {
      width: 80%;

      &Area {
        width: 100%;
        padding: 10px 0; 
      }
    }
    .fa-image {
      font-size: 4em;
      &File {
        display: none;
      }
    }
    .fa-image:hover {
      color: gray;
      cursor: pointer;
    }
    &Submit {
      height: 70%;
      &Btn{
        display: block;
        padding: 1em 2em;
        line-height: 10vh;
      }
    }
  }
}