.iconBox {
  margin: 30px auto 0;
  width: 80%;
  &Name {
    font-size: 25px;
  }
  &Field {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    &File {
      margin-top: 100px;
    }
    &Pre {
      box-sizing: border-box;
      #img_prev{
        height: 200px;
        width: 200px;
        background-color: green;
        border-radius: 200px;
      }
    }
  }
}